@import url(./style/header.css);
@import url(./style/contents.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Rubik&display=swap');

* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  list-style: none;
  color: #141414;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Fira Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
